@import "tailwindcss";



body {
  font-family: 'Ancizar Sans', sans-serif;
}

/* Add this CSS somewhere global (e.g. in your index.css or a CSS module) */
.scrollbar-auto-hide,
body {
  scrollbar-width: thin;
  scrollbar-color: rgb(144, 144, 144) transparent;
}

@media (max-width: 522px) {
  .one-col-below-400 {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }
}